{namespace serverPage}

/**
 * This is all of the references to be made in the head element.
 * @param? webAnalytics Used to determine inclusion of current analytics code.
 */
{template .serverRefTop}
		<!--[if gte IE 9 | !IE ]><!-->
		<link href='{call wet.builder.environment data="all" /}gcweb-opc/assets/favicon.ico' rel="icon" type="image/x-icon">
		<link rel="stylesheet" href='{call wet.builder.environment data="all" /}gcweb-opc/css/theme-srv.min.css'>
		<!--<![endif]-->
		<!--[if lt IE 9]>
		<link href='{call wet.builder.environment data="all" /}gcweb-opc/assets/favicon.ico' rel="shortcut icon" />
		<link rel="stylesheet" href='{call wet.builder.environment data="all" /}gcweb-opc/css/ie8-theme-srv.min.css' />
		<script src='{call wet.builder.environment data="all" /}wet-boew/js/jquery/1.11.1/jquery.min.js'></script>
		<script src='{call wet.builder.environment data="all" /}wet-boew/js/ie8-wet-boew.min.js'></script>
		<![endif]-->

		{if isNonnull($webAnalytics)}
			<script type="text/javascript">
				var _paq = (function (paq) {lb}
					var removeTrailingSlash = function(site) {lb}
						// if site has an end slash (like: www.example.com/),
						// then remove it and return the site without the end slash
						return site.replace(/\/$/, ''); // Match a forward slash / at the end of the string ($)
					{rb};

					{foreach $aa in $webAnalytics}
						// Push the english url in lower case for consistent results
						var url = removeTrailingSlash(window.location.href).toLowerCase();

						paq.push(['setCustomDimension', 2, url]);
						paq.push(['setCustomUrl', url]);
						paq.push(['enableLinkTracking']);
						paq.push(['trackPageView']);
						paq.push(['trackVisibleContentImpressions']);
						paq.push(['setTrackerUrl', '/m/m.php']);
						paq.push(['setSiteId',  '{$aa.siteId}']);

						{if isNonnull($aa.customDimensions)} 
							{foreach $dimension in $aa.customDimensions}
								paq.push(['setCustomDimension', {$dimension.id}, '{$dimension.value}']);
							{/foreach}
						{/if}

						{if isNonnull($aa.customVariables)}
							{foreach $variable in $aa.customVariables}
								paq.push(['setCustomVariable', {index($variable) + 1}, '{$variable.name}', '{$variable.value}', '{$variable.scope}']);
							{/foreach}
						{/if}
					{/foreach}

					var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
					g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'm.js'; s.parentNode.insertBefore(g, s);

					return paq;
				{rb})(window._paq || []);
    		</script>
		{/if}

{/template}

/**
 * This is all of the references to be made before existing page content.
 */
{template .serverTop}
	<header role="banner" id="wb-bnr" class="container">
        <div class="row">
            <div class="col-sm-6">
                <img id="opc-sig" src='{call wet.builder.environment data="all" /}gcweb-opc/assets/opc-blk-fr.png' class="hidden-print img img-responsive" alt="Logo du Commissariat / OPC Logo"/>
                <span class="wb-inv"> Commissariat à la protection de la vie privée du Canada / Office of the Privacy Commissioner of Canada</span>
            </div>
        </div>
    </header>
{/template}

/**
 * This is all of the references to be made before existing page content.
 */
{template .serverBottom}
	<footer id="wb-info">
		<div class="brand">
			<div class="container">
				<div class="row ">
					<div class="col-md-6">
						<img src='{call wet.builder.environment data="all" /}gcweb-opc/assets/opc-blk-en.png' class="img img-responsive" alt="Logo du Commissariat / OPC Logo" />
						<span class="wb-inv"> Commissariat à la protection de la vie privée du Canada / Office of the Privacy Commissioner of Canada</span>
					</div>
					<div class="col-md-6 tofpg text-right">
						<a href="#wb-cont">Top of Page <span class="fa fa-arrow-circle-up"></span></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
{/template}
